---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';---

<BaseLayout title="About | Nitya Timalsina" description="About Nitya Timalsina">
	<div class="stack gap-20">
		<main class="wrapper about">
			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I'm Nitya, an advocate for the thoughtful integration of technology in solving complex problems. My professional journey weaves through crafting scalable software, promoting sustainable practices, and empowering communities with tech. You can explore this journey on my <a href="https://nityatimalsina.com/projects/">Projects page</a>.
					</p>
					<p>
						On my <a href="https://nityatimalsina.com/blog/">Blog</a>, I offer tutorials and insights, hoping to provide clarity and actionable guidance in a complex tech landscape.
					</p>
					<p>
						I welcome opportunities to connect with fellow software professionals who are as passionate about using technology to drive positive change as I am. Feel free to connect with me on <a href="https://www.linkedin.com/in/timalsina/">LinkedIn</a> and start a discussion.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>
						My academic experiences laid the groundwork for a career at the intersection of technology and ethical practice. I earned a Master's degree in Software Engineering, along with graduate certificates in Data Science and Cybersecurity, from Harvard. These programs taught me how to ethically apply technical disciplines to make tangible, real-world impact while fostering the next generation of developers.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>
						My technical expertise spans across full-stack software development, AI, and blockchain. But it's the application of these skills—whether in developing new platforms or educating the next wave of developers—that truly defines my professional ethos. If you're seeking to collaborate on projects that harness technology for good, let's chat!
					</p>
				</div>
			</section>
			
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
