<div class="pill"><slot /></div>

<style>
	.pill {
		display: inline-flex;
		align-items: center;
		padding: 0.125rem 0.5rem; /* Further reduced padding */
		gap: 0.5rem;
		color: var(--accent-text-over);
		border: 1px solid #228B22;
		background-color: #228B22; /* Medium Forest Green */
		border-radius: 999rem;
		font-size: var(--text-sm);
		line-height: 1; /* Adjusted line-height to 1 */
		white-space: nowrap;
	}
</style>
