---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="code" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Full-Stack Technical Consultant</h2>
		<p>Skilled in both back-end and front-end technologies, my forte extends to integrating cybersecurity and ethical AI best practices. This positions me uniquely in crafting solutions that are technically robust and ethically sound.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="heart" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Community Catalyst</h2>
		<p>My technical consulting and advocacy work naturally extend to community engagement and education. I've led workshops, created educational content, and fostered environments that encourage ethical tech adoption.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Impact Strategist</h2>
		<p>Gifted in turning strategy into action, I execute projects that balance technical advancement with social impact. This involves a mix of high-level planning and on-the-ground implementation, achieving both business and community goals.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
